/* DESKTOP / LARGER SCREENS */
#hamburger {
  display: none;
}

.toolbar {
  padding: 1rem 10%;
}

#menu li {
  color: var(--neutrals-n-600, #344563);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 12px;
}

/* #region HERO */
.hero {
  padding: 20% 18%;
}

.hero h1 {
  padding-top: 72px;
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: 0.37px;
}

.hero p {
  font-size: 20px;
  line-height: 28px;
}

.hero-bg-shapes {
  background: white url(images/bg-shapes/hero-bg-shapes-desktop.svg);
  background-repeat: no-repeat;
  background-size: 97.04% 85.28%;
  background-position: 35px;
}

/* #endregion HERO */

/* #region PORTFOLIO */
.portfolio {
  gap: 54px;
  justify-items: center;
}

.card-works {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas: "image details";
  gap: 22px;
  width: 76%;
  border-radius: 24px;
  padding: 24px 22px 24px 24px;
}

.card-image {
  grid-area: image;
  height: 100%;
  object-fit: contain;
}

.card-details {
  grid-area: details;
  padding: 24px;
  gap: 24px;
}

.card-works:nth-of-type(even) {
  grid-template-areas: "details image";
  /* padding: 24px 24px 24px 22px; */
}

.card-works:hover {
  border: 1px solid #396df2;
  filter: drop-shadow(0 48px 48px rgba(37, 47, 137, 0.08));
}

.project-title {
  color: var(--theme-1-neutrals-1, #091E42);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
}

.project-highlights {
  font-size: 18px;
  color: var(--theme-1-neutrals-6, #6B778C);
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.project-client {
  color: var(--theme-1-neutrals-3, #344563);
  font-weight: 500;
  text-transform: unset;
}

/* #endregion PORTFOLIO */

/* #region ABOUT */
.about {
  padding: 10%;
  display: flex;
  flex-direction: row;
}

.about br {
  display: none;
}

.about .headline {
  flex: 2 1 40.5%;
  padding: 24px;
}

.about .all-skills {
  flex: 3 1 59.5%;
  padding: 0;
  margin: 0;
}

.collapsible-category {
  flex-direction: row;
  gap: 12px;
  margin: 12px 0;
}

.collapsible-category li {
  display: flex;
  align-items: flex-start;
  padding: 12px 12px 12px 20px;
  border-radius: 8px;
  margin: 0;
  flex-direction: column;
  flex: 0 0 18%;
  gap: 20px;
}

/* #endregion ABOUT */

/* #region CONTACT */
footer {
  padding-bottom: 127px;
}

footer > p {
  margin-bottom: 12px;
  line-height: 28px;
  padding-bottom: 24px;
}

footer button.btn {
  align-self: center;
}

footer > hr {
  display: none;
  height: 0;
}

.contact-bg-shapes {
  background: #6070ff url(images/bg-shapes/footer-bg-shapes-desktop.svg);
  background-repeat: no-repeat;
  background-size: 89.63% 85.28%;
  background-position: 30px 70px;
}

/* #endregion CONTACT */
